<ul class="nav nav-list">
    <li class="nav-header">Your Tray</li>
    {{#items}}
        <li class="cart-item" data-product-id="{{productId}}">
        <span class="name">{{name}}</span>
        <span class="qty">{{quantity}}</span>
        x<span class="price">{{formattedPrice}}</span>
        <button class="remove btn-danger">
            <i class="icon-trash"></i>
        </button>
    </li>
    {{/items}}
    <!--
    {{!
    <% for(var i=0; i< items.length; i++) { %>
    <li class="cart-item" data-product-id="<%= items[i].productId %>">
        <span class="name"><%- items[i].name %></span>
        <span class="qty"><%- items[i].quantity %></span>
        x<span class="price">$<%- items[i].unitPrice.toFixed(2) %></span>
        <button class="remove btn-danger">
            <i class="icon-trash"></i>
        </button>
    </li>
    <% } %> }} -->
    <li class="divider"></li>
    <li class="total">Total: <span class="total-price"></span></li>
</ul>