.nav-list .nav-header {
  font-size: 18px;
}
#product-list .product {
  margin-bottom: 5px;
}
#product-list .product .name {
  width: 130px;
  display: inline-block;
}
#product-list .product .price {
  width: 50px;
  display: inline-block;
  text-align: right;
}
#cart .cart-item {
  margin-bottom: 5px;
}
#cart .cart-item .name {
  width: 130px;
  display: inline-block;
}
#cart .cart-item .qty {
  width: 20px;
  display: inline-block;
}
#cart .cart-item .price {
  width: 50px;
  display: inline-block;
  text-align: right;
}
#cart .total {
  text-align: right;
  font-size: 16px;
}
